<html lang="en">
  <header>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Help</title>
    <link rel="stylesheet" href="'/images/weather.png">
  </header>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{helpText}}</p>
    </div>
     {{>footer}}
  </body>
</html>